.ant-modal-root {
  font-family: IRANSANS-Regular;
  text-align: right;
  .ant-modal {
    width: 980px !important;
  }
  .ant-cascader-menu-item-content {
    font-family: IRANSANS-Regular;
    text-align: right;
  }
  .ant-modal-header {
    text-align: right !important;
    padding-right: 45px !important;
  }
  .ant-form-item-label {
    text-align: right !important;
  }
  .ant-modal-content {
    padding: 0 10px;
  }
  .ant-modal-body {
    border: 1px solid #ececec;
    border-top: none;
    border-bottom: none;
    padding: 14px !important;
  }
  .ant-form-item-row{
    flex-direction: row !important;
    justify-content: space-between;
  }
  .description .ant-form-item-row{
    justify-content: flex-start;
  }
}
