.ant-modal-root {
  font-family: IRANSANS-Regular;
  text-align: right;
  .ant-modal {
    width: 980px !important;
  }
  .ant-cascader-menu-item-content {
    font-family: IRANSANS-Regular;
    text-align: right;
  }
  .ant-modal-header {
    text-align: right !important;
    padding-right: 45px !important;
  }
  .ant-form-item-label {
    text-align: right !important;
  }
  .ant-modal-content {
    padding: 0 10px;
  }
  .ant-modal-body {
    border: 1px solid #ececec;
    border-top: none;
    border-bottom: none;
    padding: 14px !important;
    .datePickerFa {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row wrap;
      .rmdp-input {
        width: 201px;
        height: 32px;
        border-radius: 2px;
        transition: 0.3s ease;
        &:focus {
          border-color: #40a9ff;
          box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
          border-right-width: 1px;
          outline: 0;
        }
        &:hover {
          border-color: #40a9ff;
          border-right-width: 1px;
        }
      }
    }
  }
  .ant-form-item-row {
    flex-direction: row !important;
    justify-content: space-between;
  }
  .description {
    margin-top: 20px;
  }
  .description .ant-form-item-row {
    justify-content: flex-start;
  }
}
