.popover {
  width: 200px;
  min-height: 100px;
  background: #fff;
  position: absolute;
  z-index: 2;
  text-align: right;
  padding-top: 5px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  p {
    position: relative;
    padding-right: 15px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    &:active {
      background: #ececec;
    }
    &:hover {
      padding-right: 20px;
      color: #3120e0;
      &::after {
        position: absolute;
        content: "";
        border-left: 2px solid #000;
        border-top: 2px solid #000;
      }
    }
    &::after {
      position: absolute;
      content: "";
      border-left: 2px solid #787878;
      border-top: 2px solid #787878;
      width: 5px;
      height: 5px;
      right: 3px;
      top: 9px;
      transform: rotate(-45deg);
      transition: 0.2s ease-in-out;
    }
  }
}
.ant-popover-message > .anticon {
  color: #c30808 !important;
}